html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: KayakSans;
  src: url("../fonts/Kayak Sans Regular.otf");
}

@font-face {
  font-family: ShareTech-Regular;
  src: url("../fonts/ShareTech-Regular.ttf");
}

.title {
  font-family: ShareTech-Regular;
  font-style: normal;
  font-weight: 250px;
  font-size: 40px;
  line-height: 81px;
  display: flex;
  /* align-items: center; */
  /* text-align: right; */
  color: #000000;
  /* left: 0;
  right: 0; */
}

.subtitle {
  font-family: ShareTech-Regular;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 41px;
  display: flex;
  align-items: center;
}

.secondary {
  font-family: ShareTech-Regular;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 35px;
  color: #000000;
  /* display: flex;
  align-items: center; */
}

.emphasis {
  color: #a9a9a9;
}
/* Animation */
.typing {
  color: #fe9260;
  font-weight: bold;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.intro {
  margin-right: 90px;
}

.line {
  display: inline-block;
  white-space: nowrap;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; 
  /* height: 20px; */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@font-face {
  font-family: KayakSans;
  src: url("../fonts/Kayak\ Sans\ Regular.otf") format("opentype");
}

.main-wrapper {
  width: 100%;
}

.sidenav {
  background-color: #fe9260;
  position: fixed;
  top: 0;
  height: 100%;
  width: 90px;
  right: 0px;
  transition: 0.25s;
  z-index: 10;
  left: auto;
  overflow-y: hidden;
  max-height: 100%;
  display: block;
}

.logo {
  height: 20px;
  width: 20px;
  display: block;
  margin: auto auto 20px auto;
  justify-content: center;
  align-items: center;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.links {
  position: absolute;
  bottom: 0;
  left: 35%;
}

.avatar {
  margin-right: 50px;
}

.main {
  margin-right: 90px;
}

.content {
  margin-top: 115px;
}

@media only screen and (max-width: 800px) {
  .all-children {
    padding: 20px;
  }
  .intro {
    margin-right: 0px;
  }
  .avatar {
    display: none;
  }
  h1 span {
    display: table;
  }
  .sidenav {
    background-color: #fe9260;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    transition: 0.25s;
    z-index: 10;
    left: auto;
    overflow-x: hidden;
    display: none;
  }

  .links {
    display: none;
  }

  .logo {
    height: 20px;
    width: 20px;
    float: left;
    margin: auto 20px auto auto;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  }

  .content {
    margin-top: 80px;
  }
}
